/*
!/.certs
!/.crons
!/.docker
!/.vscode
!/app
!/config
!/database
!/patches
!/public
/public/build
/public/hot
/public/storage
!/resources
!/routes
!/storage
storage/framework
storage/logs
!/tests
!.bash_aliases
!.editorconfig
!.env.example
!.gitignore
!composer.json
!composer.lock
!deploy.sh
!docker-compose.yml
!package-lock.json
!package.json
!phpcs.xml
!phpunit.xml
!README.md
!vite.config.js
